@{
    ViewData["Title"] = "MVC Movie";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>¡Bienvenido a MvcMovie!</h1>
    <p>Este es un proyecto de Programación 5.</p>

    <img src="https://siemprendes.com/wp-content/uploads/2024/11/desarrollo-de-aplicaciones-web.jpg" alt="Imagen de prueba" style="margin-top: 20px; border-radius: 10px;">

    <p style="margin-top: 20px; font-size: 18px;">
        ¡Gracias por su atención!
    </p>
</div>
